@import '../abstracts/mixins';
@import '../abstracts/vars';
.about {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        margin-right: 130px;
    }
    &__title {
        margin-bottom: 25px;
        @include font('Oswald', $colorText, 30px);
    }
    &__text {
        margin-bottom: 30px;
        line-height: 30px;
        @include font('Heebo', $colorText, 18px);
    }
}