@import '../abstracts/mixins';
@import '../abstracts/vars';

.header {
    height: 10vh;
    border-bottom: $borderDecoration;
    font-size: 30px;
    @include flex(space-between, center);
}
